/* Font Styles */
.fira-sans {
  font-family: "Fira Sans", serif;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
/* Shared Styles */
.primary-color {
  color: #0e0e0e;
}
.btn-color{
    background-color: #006A50;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}
.bg-color{
    background-color: #C6E4D6;
}
.light-color{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.5);
}
button{
    font-family: "Fira Sans", serif;
}
/* Nav Styles */
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 20px 0;
}
.nav-logo{
    font-size: 32px;
    font-weight: bold;
    margin-left: 160px;
}
.nav-button{
    padding: 15px 20px;
    font-size: 18px;
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    background-color: white;
    font-weight: 600;
    margin-right: 160px;
}
/* Banner Styles */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 160px 80px 160px;
    max-height: 560px;
    padding: 50px;
}
.banner-content p{
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
    font-weight: 500;
}
.banner-title{
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 24px;
    margin-top: 16px;
}
.banner-btn{
    padding: 17px 34px;
}
/* Main Section Styles */
main{
    max-width: 1280px;
    margin: 0 160px 80px 160px;
}
/* Pillars Section Styles */
.pillars{
    margin-bottom: 80px;
}
.section-title{
    font-size: 40px;
    font-weight: bold;
}
.pillars-container{
    display: flex;
    gap: 24px;
    margin-top: 32px;
}
.pillar{
    border-radius: 16px;
    background-color: #ffffff;
    border: 1px solid #C6E4D6;
    padding: 24px;
}
.pillar h3{
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 20px;
}
/* Vision Section Styles */
.vision-desc{
    margin-top: 24px;
    margin-bottom: 32px;
}
.vision-container{
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
}
.vision-item1{
    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px;
    border-radius: 16px;
}
.vision-item2{
    background-color: #C6E4D6;
    padding: 32px;
    border-radius: 16px;
}
.vision-item3{
    background-color: #F7EBCF;
    padding: 32px;
    border-radius: 16px;
}
.vision-item-title{
    margin: 24px 0 12px 0;
}
.vision-item1 button{
    background-color: rgba(84, 144, 245, 1);
    color: #ffffff;
    border-radius: 8px;
    border: none;
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
}
.vision-item2 button{
    background-color: #09A15C;
    color: #ffffff;
    border-radius: 8px;
    border: none;
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
}
.vision-item3 button{
    background-color: #FFC239;
    color: #ffffff;
    border-radius: 8px;
    border: none;
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
}
/* Quote Section Styles */
.quote{
    background-color: #ffffff;
    border: 1px solid #C6E4D6;
    border-radius: 16px;
    background-image: url(/assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 22px 20px;
    margin-bottom: 80px;
}
.quote-container{
    margin: 48px 24px;
}
.quote-desc{
    color: rgba(14, 14, 14, 0.8);
}
.quote-speaker{
    font-size: 20px;
    font-weight: 600;
    margin-top: 12px;
    color: rgba(14, 14, 14, 0.8);
}
/* Opinion Section Styles */
.opinion-container{
    margin-top: 24px;
    border-radius: 16px;
    border: 1px solid #C6E4D6;
    background-color: #ffffff;
    padding: 32px;
    margin-bottom: 80px;
}
table{
    border-collapse: collapse;
}
table th{
    background-color: #C6E4D6;
    padding: 24px;
    text-align: left;
}
table td{
    border: 1px solid #C6E4D6;
    padding: 36.5px 24px;
    color: #0e0e0e;
    font-weight: bold;
    width: 100%;
}
table td select{
    font-family: "Fira Sans", serif;
    border-radius: 4px;
    border: 1px solid rgba(9, 161, 92, 0.15);
    background-color: #C6E4D6;
    padding: 12.5px 16px;
    color: #0e0e0e;
    font-size: 16px;
    font-weight: bold;
}
table td select option{
    background-color: #ffffff;
}
/* News Section Styles */
.news-container{
    margin-bottom: 80px;
}
.news-subtitle{
    margin-top: 24px;
}
.news-box{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 48px;
    background-color: #ffffff;
    border: 1px solid #C6E4D6;
    border-radius: 24px;
}
.news-box-img{
    border-radius: 24px;
}
.news-content-img, time{
    display: block;
}
.news-content-img{
    margin: 12px 0 12px 0;
}
.news-content-desc{
    margin: 12px 0 32px 0;
}
.news-content-btn{
    padding: 13px 26px;
}